<!DOCTYPE html>
<html>
  <head>
    <title>AirAlien</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NavBar -->
    <%= render "/shared/navbar" %>

    <!-- Notices and alerts for devise -->
    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>


  </body>
</html>
